<div class="container mt-5">
  <form action="http://localhost:4000/pet/search" method="GET">
    <div class="input-group mb-4">
      <input
        class="form-control form-control-lg"
        name="searchTerm"
        placeholder="Search for a pet with you sign"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>

  <div class="d-flex flex-row">
    {{#each pets}}
    <a href="/pet/{{ this.id }}">
      <div class="card m-2" style="width: 18rem">
        <img
          src="{{ this.picture }}"
          class="card-img-top"
          alt="{{ this.name }}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ this.name }}</h5>
          <p class="card-text text-center">
            <strong>Age: </strong>{{ this.age }}
          </p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>
